
/*Button-Style*/
.button{
    -fx-background-radius: 1;
    -fx-background-color: #cdcdcd;

}
.button:hover{
    -fx-background-color: #d8d8d8;
}

.button.movingbutton{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-pref-height: 20px;
    -fx-pref-width: 40px;
    -fx-background-color: #1d4360;
}

.button.movingbutton:hover{
    -fx-background-color: #357aaf;
}

/*Label-Style*/
.headlines {
    -fx-font-family: "Calibri";
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px;
}


.list-view{
    -fx-background-color: rgba(0,0,0,0.5);

}



/*Styleclasses*/

.module {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 2;
}
.module.once {
    -fx-pref-width: 150;
}
.module.twice {
    -fx-pref-width: 250;
}

/*Single Elements*/

#pane_main {
    -fx-background-image: url("/pic/nao.jpg");
    -fx-background-size: stretch;
}

#pane_cam {
    -fx-background-image: url("/pic/cam.png");
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-size: cover;
}
#pane_login {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-image: url("/pic/nao-robot.png");
    -fx-background-size: cover;
}

#lbl_toolbar{
    -fx-font-size: 10pt;
    -fx-text-fill: #8e8e8e;
    -fx-font-family: Dialog;
    -fx-alignment: center-left;
    -fx-padding: 1px;
}

#menu1{
    -fx-text-fill: #000000;
}
#temp_Bar{
    -fx-rotate: -90;
}
#temp_Ampel{
    -fx-border-color:black;
    fx-background-color: none;
    -fx-fill: none;
    -fx-padding: 1px;
}
#temp_Ampel2{
    -fx-border-color: #1d4360;
    -fx-fill: none;
    -fx-padding: 1px;
}
#highTemp{

    -fx-border-color:none;
    -fx-fill: #ff844d;

     }
#midTemp{

    -fx-border-color:none;
    -fx-fill: #ffe37f;

}
#lowTemp{
    -fx-border-color:none;
    -fx-fill: lawngreen;

}






