
/*for a whole class*/
.button.button_strong {
    -fx-font-family: "Arial Black";
}
/*for a single element*/
.button.button_light {
    -fx-font-family: "Arial";
}

/*styleclass*/
.ownStyle{
    -fx-font-size: 20pt;
}

.label {
    -fx-font-family: "Calibri";
}

#lbl_mid {
    -fx-font-family: "Arial Black";
}

#pane_cam {
    -fx-background-color: #ffffff;
}