
/********Element styles********/

/*Button-Style*/
.button{
    -fx-background-radius: 1;
    -fx-background-color: #cdcdcd;
}
.button:hover{
    -fx-background-color: #f5f5f5;
}

.button.movingbutton{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-pref-height: 20px;
    -fx-pref-width: 40px;
    -fx-background-color: #1d4360;
}

.button.movingbutton:hover{
    -fx-background-color: #357aaf;
}

.text-field{
    -fx-pref-width: 142;
    -fx-pref-height: 25;
}

.circle{
    -fx-border-color:none;
    -fx-stroke: #505050;
    -fx-border-radius: 70%;
    -fx-stroke-width: 0.5;
    -fx-opacity: 0.8;
    -fx-padding: 0;
}


/********own style-classes********/
.toggle-switch{
    -fx-font-size: 8pt;
    -fx-cursor: hand;
    -fx-padding: 5px;
}

/*Label-Style*/
.headlines {
    -fx-font-family: "Calibri";
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: rgba(53, 122, 175, 0.2);
    -fx-background-radius: 2;
}
.labeling {
    -fx-font-family: "Calibri";
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-padding: 5px;

}
/*GUI-Modules*/
.module {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 2;
}
/*single width*/
.module.once {
    -fx-pref-width: 150;
}
/*double width*/
.module.twice {
    -fx-pref-width: 310;
}

/********Styles for single lements********/

/*Backgrounds*/
#pane_main {
    -fx-background-image: url("/pic/nao_main.jpg");
    -fx-background-size: stretch;
}

#pane_login {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-image: url("/pic/nao_login.png");
    -fx-background-size: cover;
}

/*Toolbar*/
#lbl_toolbar{
    -fx-font-size: 10pt;
    -fx-text-fill: #8e8e8e;
    -fx-font-family: Dialog;
    -fx-alignment: center-left;
    -fx-padding: 1px;
}

#lbl_battery{
    -fx-font-family: "Calibri Light";
    -fx-font-size: 6pt;
    -fx-alignment: center;
}

/*Menu*/
#menu1{
    -fx-text-fill: #000000;
}

/*Temperature bar*/
#temp_Bar{
    -fx-rotate: -90;
}
#temp_pane{
    -fx-border-color: #505050;
    -fx-border-width: 1px;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#highTemp{
    -fx-fill: #ff0000;
     }
#midTemp{
    -fx-fill: #ffff00;
}
#lowTemp{
    -fx-fill: #00ff00;
}

/*Button on login-window*/
#btn_delete{
    -fx-background-image: url("/pic/icon_trash.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}
#btn_delete:hover{
    -fx-background-color: white;
}

#btn_stopMoving{

    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-pref-height: 17px;
    -fx-background-color: rgba(210,30,50,0.7);
}


/*List-View on login-window*/
#connection_list{
    -fx-background-color: rgba(135, 135, 135, 0.7);
}
#connection_list .list-cell:empty{
    -fx-opacity: 0;
}
#connection_list .list-cell{
    -fx-pref-height: 40px;
    -fx-font-size: 12pt;
}
#connection_list .list-cell:odd{
    -fx-background-color: rgba(53,122,175,0.7);
}
#connection_list .list-cell:odd:selected{
    -fx-background-color: rgba(53,122,175,1);
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #1d4360;
}
#connection_list .list-cell:even{
    -fx-background-color: rgba(255,255,255,0.7);
}
#connection_list .list-cell:even:selected{
    -fx-background-color: rgba(255,255,255,1);
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-border-color: #1d4360;
}





