
/*Button-Style*/
.button{
    -fx-background-radius: 1;
    -fx-background-color: #cdcdcd;

}
.button:hover{
    -fx-background-color: #f5f5f5;
}

.button.movingbutton{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-pref-height: 20px;
    -fx-pref-width: 40px;
    -fx-background-color: #1d4360;
}

.button.movingbutton:hover{
    -fx-background-color: #357aaf;
}

.toggle-switch{
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.text-field{
    -fx-pref-width: 142;
    -fx-pref-height: 25;
}

/*Label-Style*/
.headlines {
    -fx-font-family: "Calibri";
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5px;
}


/*Styleclasses*/

/*List-View on Login-Window*/
#connection_list{
    -fx-background-color: rgba(135, 135, 135, 0.7);
}
#connection_list .list-cell:empty{
    -fx-opacity: 0;
}
#connection_list .list-cell{
    -fx-pref-height: 40px;
    -fx-font-size: 12pt;
}
#connection_list .list-cell:odd{
    -fx-background-color: rgba(53,122,175,0.7);
}
#connection_list .list-cell:odd:selected{
    -fx-background-color: rgba(53,122,175,1);
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #1d4360;
}
#connection_list .list-cell:even{
    -fx-background-color: rgba(255,255,255,0.7);
}
#connection_list .list-cell:even:selected{
    -fx-background-color: rgba(255,255,255,1);
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-border-color: #1d4360;
}

/*GUI-Modules*/
.module {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 2;
}
.module.once {
    -fx-pref-width: 150;
}
.module.twice {
    -fx-pref-width: 310;
}

/*Single Elements*/

#pane_main {
    -fx-background-image: url("/pic/nao.jpg");
    -fx-background-size: stretch;
}

#pane_cam {
    -fx-background-image: url("/pic/cam.png");
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-size: cover;
}
#pane_login {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-image: url("/pic/nao-robot.png");
    -fx-background-size: cover;
}

#lbl_toolbar{
    -fx-font-size: 10pt;
    -fx-text-fill: #8e8e8e;
    -fx-font-family: Dialog;
    -fx-alignment: center-left;
    -fx-padding: 1px;
}

#menu1{
    -fx-text-fill: #000000;
}
#temp_Bar{
    -fx-rotate: -90;
}
#temp_pane{
    -fx-border-color:black;
    fx-background-color: none;
    -fx-fill: none;
    -fx-padding: 1px;
}
#temp_Ampel2{
    -fx-border-color: #1d4360;
    -fx-fill: none;
    -fx-padding: 1px;
}
.circle:default{
    -fx-opacity: 1;
    -fx-border-color:none;
    -fx-border-radius: 70%;
    }
.circle:disabled{

    -fx-opacity: 0.4;

}
#highTemp{

    -fx-fill: #ff0000;
     }

#midTemp{

    -fx-fill: #ffff00;
}
#lowTemp{

    -fx-fill: #00ff00;
}

#btn_delete{
    -fx-background-image: url("/pic/icon_trash.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}
#btn_delete:hover{
    -fx-background-color: white;
}
#h_connections{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}






